{% extends "base.html" %}

{% block title %}Transfer{% endblock %}

{% block content %}

<div class="form-container">

    <h2>💸 Transfer Money</h2>

    <form method="POST">

        <label>Receiver Account Number</label>

        <input type="text"
               name="receiver"
               required>


        <label>Amount</label>

        <input type="number"
               name="amount"
               min="1"
               step="0.01"
               required>


        <button type="submit" class="btn">
            Transfer
        </button>

    </form>

</div>

{% endblock %}